.pluses {
    h1 {
        text-align: center;
    }
    margin-top: 100px;
    padding: 120px 0 60px 0;
    &__wrapper {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
    }
    &__img {
        width: 60%;
        display: block;
        margin: 0 auto;
    }
    .regTXT {
        margin-top: 60px;
    }
}